html {
    background-color: black;
}

.readOutArea {
    grid-area: readOut;
    display: flex;
    justify-content: end;
    align-items: end;
    border: 1px solid grey;
}

.topRow {
    grid-area: topRow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.secondRow {
    grid-area: secondRow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.thirdRow {
    grid-area: thirdRow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fourthRow {
    grid-area: fourthRow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fifthRow {
    grid-area: fifthRow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

centerContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 80px 80px 80px 80px;
    column-gap: 10px;
    row-gap: 5px;
    grid-template-areas: 
    "readOut readOut readOut readOut"
    "readOut readOut readOut readOut"
    "topRow topRow topRow topRow"
    "secondRow secondRow secondRow secondRow"
    "thirdRow thirdRow thirdRow thirdRow"
    "fourthRow fourthRow fourthRow fourthRow"
    "fifthRow fifthRow fifthRow fifthRow";

    width: 370px;
    height: 665px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 4em;
    color: white;
}

#circleButtons {
    border-radius: 50%;
    height: 90%;
    width: 20%;
    font-size: 1.5em;
    background-color: gray;
    color: white;
}

#squareButtons {
    width: 48%;
    height: 90%;
    border-radius: 10px;
    font-size: 2em;
    background-color: #328EDC;
}

#actionButtons {
    border-radius: 50%;
    height: 90%;
    width: 20%;
    font-size: 1.5em;
    background-color: #328EDC;
    color: white;
}

button {
    border: none;
    cursor: pointer;
}