html {
    background-color: black;
}

.readOutAreaOne {
    grid-area: readOut;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color:white;
}

.readOutAreaTwo {
    grid-area: readOutTwo;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.topRow {
    grid-area: topRow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.secondRow {
    grid-area: secondRow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.thirdRow {
    grid-area: thirdRow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fourthRow {
    grid-area: fourthRow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fifthRow {
    grid-area: fifthRow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

centerContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 80px 80px 80px 80px;
    column-gap: 10px;
    row-gap: 5px;
    grid-template-areas: 
    "readOut readOut readOut readOut"
    "readOutTwo readOutTwo readOutTwo readOutTwo"
    "topRow topRow topRow topRow"
    "secondRow secondRow secondRow secondRow"
    "thirdRow thirdRow thirdRow thirdRow"
    "fourthRow fourthRow fourthRow fourthRow"
    "fifthRow fifthRow fifthRow fifthRow";

    width: 370px;
    height: 600px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin-bottom: 0px;
    margin-top: 10px;
    font-family: arial;
    font-size: 3.5em;
    color: white;
}

h3 {
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
    font-family: arial;
}

#circleButtons {
    border-radius: 50%;
    height: 90%;
    width: 20%;
    font-size: 1.5em;
    background-color: rgb(51, 51, 51);
    color: white;
}

#squareButtons {
    width: 45%;
    height: 80%;
    border-radius: 10px;
    font-size: 2em;
    background-color: rgb(124, 124, 124);
    color: black;
}

#actionButtons {
    border-radius: 50%;
    height: 90%;
    width: 20%;
    font-size: 1.5em;
    background-color: #328EDC;
    color: white;
}

.equals {
    border-radius: 50%;
    height: 90%;
    width: 20%;
    font-size: 1.5em;
    background-color: #328EDC;
    color: white;
}

button {
    border: none;
    cursor: pointer;
}